[Unit]
Description=Neptune Apex HASS MQTT Gateway

[Service]
Type=simple
ExecStart=/usr/local/bin/influx_neptuneapex --host apex --broker X -u X -w X
Restart=on-failure

[Install]
WantedBy=multi-user.target
